.head_div{

    font-size: 23px;
    width: 100%;
    margin:0px;
    box-shadow: 5px 5px 5px hotpink;
  
  }
  
  .head_div2{
  
   float: none;
   padding: 20px;
   border-radius: 70px;
   box-shadow: 5px 5px 5px hotpink;
   color: white;
   animation-name: OMG;
    animation-duration: 4s;
    animation-iteration-count:infinite;
  
  }
  
  .head_div3{
   
      font-size: 23px;
  
  }
  
  #copy_right_footer{
  
   position: fixed;
   bottom: 0px;
   width: 100%;
   color: white;
   line-height: 3;
   text-align: center;
   animation-name: color_change;
    animation-duration: 4s;
    animation-iteration-count:infinite;
  
  }
  
  .result_para_tag{
  
   box-shadow: 5px 5px 5px hotpink;
   font-size: 20px;
  
  }
  
  canvas{
  
   border: 5px double orange;
   border-radius: 70px;
   box-shadow: 5px 5px 5px hotpink;
   margin-top: 145px;
  
  }

  body{

   background-attachment: fixed;
   background-size: cover;

  }

  @keyframes color_change{
 
    from{background-color: black;}
    to{background-color: hotpink;}

}

 @keyframes OMG{
 
  from{background-color: blue;}
  to{background-color: black;}

}